@import "tailwindcss";

@theme {
  --font-playfair: var(--font-playfair);
  --font-inter: var(--font-inter);
}

:root {
  --gold:      #c9a84c;
  --gold2:     #e8c96a;
  --lemon:     #f0d060;
  --lemon2:    #ffe066;
  --azure:     #1a6b8a;
  --azure2:    #2e8fb0;
  --terracotta:#c2603a;
  --dark:      #0a0805;
  --dark2:     #130f09;
}

html { scroll-behavior: smooth; }

body {
  background: var(--dark);
  color: #f0ede6;
  overflow-x: hidden;
}

::selection { background: var(--gold); color: #000; }

::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: var(--dark); }
::-webkit-scrollbar-thumb { background: #3a2e18; border-radius: 99px; }
